.container {
    font-size: 40px;
    min-height: 100px;
    width: 100%;
    background-color:lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fill, 100px); */
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}